@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

/* font-family: 'Pacifico', cursive;
font-family: 'Source Sans Pro', sans-serif; */

*{box-sizing: border-box; font-family: 'Source Sans Pro', sans-serif;}
html, body{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

.font_pacifico{font-family: 'Pacifico', cursive;}

    /************************ #header top part********************/

#header{}
#header #top{
    width: 100%;
    height: 30px;
    background-color: #000;}

#header #top .wrap{
    width: 1160px;
    height: 100%;
    margin: 0 auto;
    /*background: #777;*/
    color:#fff;
    padding: 0 10px;}

#header #top .wrap .left{float: left;} /*부모 공간으로부터 좌측에 배치*/
#header #top .wrap .left ul{}
#header #top .wrap .left ul li{
    float: left;/*내부에서 좌측 기준으로 가로 배치*/
    margin-right: 10px;
    /*background: #950;*/}

#header #top .wrap .left ul li p{
    line-height: 30px;
    font-size: 14px;}

#header #top .wrap .right{
    float: right;
    padding: 8px 0;} /*부모 공간으로부터 우측에 배치*/

#header #top .wrap .right ul{}

#header #top .wrap .right ul li{
    float: left;
    margin-left: 10px;
    /*background: #000;*/}

#header #top .wrap .right ul li a{
    display: block;
    line-height: 1;
    font-size: 14px;
    color:#fff;}

#header #top .wrap .right ul li:hover a{color:#f60;}


    /************************** #header mail part *************************/

#header #main{
    width: 100%;
    height: 560px;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;}

#header #main .dark{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);}
#header #main .dark .wrap{
    width: 1160px;
    height: 66px;
    margin: 0 auto;
    padding: 0 10px;}

#header #main .dark .wrap .logo{
    float: left;
    padding: 17px 0;}
#header #main .dark .wrap .logo a{}
#header #main .dark .wrap .logo a img{display: block;}

#header #main .dark .wrap .menu{float: right;}
#header #main .dark .wrap .menu ul{float: left;}
#header #main .dark .wrap .menu ul li{float: left;}
#header #main .dark .wrap .menu ul li a{
    display: block;
    padding: 0 20px;
    line-height: 66px;
    font-size: 16px;
    color:#fff;
    font-weight: bold;}

#header #main .dark .wrap .menu ul li:hover a{background-color: rgba(255,255,255,0.6); color:#f60;}

#header #main .dark .wrap .menu .reserve_btn{
    float: left;
    width: 180px;
    height: 66px;
    /*background: #ff0;*/
    text-align: right;
    padding-top: 12px;}

#header #main .dark .wrap .menu .reserve_btn a{
    display: inline-block;
    padding: 10px 14px;
    border:1px solid #f60;
    background-color: #f60;
    color:#fff;
    border-radius:4px;
    font-size: 16px;
    font-weight: bold;}

#header #main .dark .wrap .menu .reserve_btn a:hover{background-color: #fff; color:#f60;}


    /* ******************* main title part *****************  */

    /* FORMA 1: [부모가 (position:relative;) 기준으로 자식 (position:absolute;) 중앙배치] */

/* #header #main .dark #main_title{
    position: relative;
    width: 1160px;
    height: 494px;
    margin: 0 auto;
    padding: 0 10px;}

#header #main .dark #main_title .cont{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;} */

    /* FORMA 2: [부모가 (display:table;) 기준으로 자식 (display:table-cell;) 중앙배치]*/

#header #main .dark #main_title{
    width: 1160px;
    height: 494px;
    margin: 0 auto;
    padding: 0 10px;
    display: table;}

#header #main .dark #main_title .cont{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff;}

#header #main .dark #main_title .cont h1{
    font-size: 54px;
    line-height: 72px;}

#header #main .dark #main_title .cont p{
    font-size: 16px;
    padding: 40px 0;}

#header #main .dark #main_title .cont ul{font-size: 0;}
#header #main .dark #main_title .cont ul li{
    display: inline-block;
    margin: 0 10px;}

#header #main .dark #main_title .cont ul li a{
    display: block;
    font-size: 16px;
    width: 202px;
    height: 44px;
    border: 1px solid #f60;
    border-radius: 8px;
    text-transform: capitalize;
    color: #fff;
    line-height: 42px;}

#header #main .dark #main_title .cont ul li:hover a{
    background-color: rgba(255,255,255,0.4);
    color: #f60;}


    /* ************************* #story part ************************ */

#story{width: 100%; height: 600px; overflow: hidden;}

#story .wrap{
    width: 1160px;
    height: 100%;
    padding: 0 10px;
    margin: 0 auto;}

    /* TITLE PART */

#story .wrap .title_part{
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;}

#story .wrap .title_part h2{
    font-size: 54px;
    line-height: 72px;
    color: #555;}

#story .wrap .title_part h2 span{color: #f60;}

#story .wrap .title_part p{
    font-size: 16px;
    color: #555;
    padding-top: 20px;}

    /* CONTENT PART */

#story .wrap .cont_part{font-size: 0;}

#story .wrap .cont_part > div{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 0 15px;
    font-size: 16px;}

#story .wrap .cont_part > div.img_part{height: 200px;}

#story .wrap .cont_part > div.img_part .image{
    width: 100%;
    height: 100%;
    background-image: url(../img/cook-01.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 8px;}

#story .wrap .cont_part > div.txt_part{text-align: center;}

#story .wrap .cont_part > div.txt_part p{
    color: #555;
    padding-bottom: 40px;}

#story .wrap .cont_part > div.txt_part a{
    display: inline-block;
    height: 19px;}
#story .wrap .cont_part > div.txt_part a img{}


    /* DECO IMG PART */

#story .wrap .deco_img{padding-top: 100px;}
#story .wrap .deco_img img{width: 100%;}


        /************ 20220325 - CONTINUACAO **************/


/* ***콘텐츠 내부에 암막과 문자를 단계별로 위치시키기****(exemplo)**** */
/*
#midEdu1{}
#midEdu1 .outer{
    width: 300px;
    height: 300px;
    background-image: url(../img/menu_2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    padding: 20px; /*coloca a sombra com borda*/
    /*border-radius: 10px;}

#midEdu1 .outer .dark_bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px; /*coloca a letras de dentro com borda*/
    /*position: relative;
    color: #fff;
    /* display: none; [display: none;]ele apaga o espaco em si / o display nao aceita [transition: display 1s;]
    transition: display 1s; */
    /*opacity: 0;
    transition: opacity 1s; /*opacity - aceita o transition - e ele nao apaga o espaco, ele esta la so que transparente*//*}

#midEdu1 .outer:hover .dark_bg{
    /* display: block;  quando coloca isso o espaco apagado aparece */
    /*opacity: 1;}

#midEdu1 .outer .dark_bg h3{font-size: 28px;}
#midEdu1 .outer .dark_bg p{padding-top: 10px;}
#midEdu1 .outer .dark_bg span{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    color: #f60;}*/

                            /* #Special PART */
#special{background-color: #ededed;}

                        /* TOP PART - BG */
#special #top_bg{
    width: 100%;
    height: 460px;
    background-image: url(../img/2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;}

#special #top_bg .dark_bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);}


                            /* CONT- PART  */

#special #main_cont{
    width: 100%;
    height: 100%;
    margin-top: -360px;
    padding: 0 10px;}

#special #main_cont .title_part{
    text-align: center;
    color: #fff;
    padding-bottom: 40px;}
#special #main_cont .title{
    font-size: 54px;
    font-weight: bold;
    padding: 20px 0;}

#special #main_cont .sub_title{font-size: 16px;}

#special #main_cont .wrap{
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    font-size: 0;}

#special #main_cont .wrap .outer_box{
    display: inline-block;
    vertical-align: top;
    width: 360px;
    height: 360px;
    background-size: cover;
    background-position: 50% 50%;
    font-size: 16px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;}

#special #main_cont .wrap .outer_box:nth-child(1){
    background-image: url(../img/menu_1.jpg);
    width: 750px;} /*360px + 360px + 30px[margin-right]*/

#special #main_cont .wrap .outer_box:nth-child(2){
    background-image: url(../img/menu_2.jpg);
    margin-right: 0;}

#special #main_cont .wrap .outer_box:nth-child(3){background-image: url(../img/menu_3.jpg);}
#special #main_cont .wrap .outer_box:nth-child(4){background-image: url(../img/menu_4.jpg);}

#special #main_cont .wrap .outer_box:nth-child(5){
    background-image: url(../img/menu_5.jpg);
    margin-right: 0;}

#special #main_cont .wrap .outer_box .dark_bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    position: relative;
    color: #fff;
    opacity: 0;
    transition: opacity 1s;}

#special #main_cont .wrap .outer_box:hover .dark_bg{opacity: 1;}

#special #main_cont .wrap .outer_box .dark_bg h3{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;} /*text-transform:capitalize; - Primeira letra em MAIUSCULO*/
#special #main_cont .wrap .outer_box .dark_bg p{
    font-size: 18px;
    font-weight: lighter;}
#special #main_cont .wrap .outer_box .dark_bg span{
    font-size: 28px;
    color: #f60;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    right: 20px;}
    
#special #main_cont .arrow_space{
    text-align: center;
    padding-bottom: 60px;}

#special #main_cont .arrow_space a{
    display: inline-block;
    height: 19px;}

#special #main_cont .arrow_space a img{display: block;}

/* -------------- midEdu2 (EXEMPLO 2) ---------------------------- */
/* #midEdu2{}
#midEdu2 .frame{
    width: 900px;
    margin: 0 auto;
    padding: 40px 0;
    background-color: #aff;
    font-size: 0;}

#midEdu2 .frame .box{
    display: inline-block;
    width: calc(100% / 3 - 20px);
    height: 280px;
    margin: 0 10px;
    background-color: #faa;} */


             /* <!--******** #dishes PART ********* --> */

#dishes{
    background-image: url(../img/3.png);
    background-position: 50% 50%;
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 20px;}  

#dishes .wrap{
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px; /*모바일에서 좌측과 우측으로 밀착되지 않도록 좌우 여백을 위해 구성*/}

                            /* TITLE_PART */
#dishes .wrap .title_part{
    text-align: center;
    color: #555;
    padding-bottom: 80px;}

#dishes .wrap .title_part .title{
    font-size: 54px;
    line-height: 72px;
    padding: 20px 0;
    text-transform: capitalize;}

#dishes .wrap .title_part .sub_title{font-size: 16px;}

                        /* CONT_PART */

#dishes .wrap .cont_part{
    width: 1160px;
    margin: 0 auto;}

#dishes .wrap .cont_part .cont_box{}
#dishes .wrap .cont_part .cont_box .dishesTitle{
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;}
#dishes .wrap .cont_part .cont_box .dishesTitle h3{
    font-size: 24px;
    font-weight: bold;
    color: #999;}


#dishes .wrap .cont_part .cont_box .menu{
    width: 100%;
    position: relative;
    color: #555;
    padding: 0 15px;
    font-size: 0;}

#dishes .wrap .cont_part .cont_box .menu .left{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 15px;}

#dishes .wrap .cont_part .cont_box .menu .left .theDishe{padding-bottom: 20px;}

#dishes .wrap .cont_part .cont_box .menu .left .theDishe h2{
    font-size: 20px;
    font-weight: bold;}
#dishes .wrap .cont_part .cont_box .menu .left .theDishe p{
    font-size: 16px;}
#dishes .wrap .cont_part .cont_box .menu .left .theDishe span{
    display: block;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #f60;}



#dishes .wrap .cont_part .cont_box .menu .right{
    width: 50%;
    padding: 0 15px;
    display: inline-block;
    vertical-align: top;}
#dishes .wrap .cont_part .cont_box .menu .right .theDishe{
    padding-bottom: 20px;}

#dishes .wrap .cont_part .cont_box .menu .right .theDishe h2{
    font-size: 20px;
    font-weight: bold;}
#dishes .wrap .cont_part .cont_box .menu .right .theDishe p{
    font-size: 16px;}
#dishes .wrap .cont_part .cont_box .menu .right .theDishe span{
    display: block;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #f60;}


#dishes .wrap .cont_part .cont_box .menu .centerLine{
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #cfcfcf;
    transform: translateX(-50%);}
    

#dishes .wrap .cont_part .arrow_space{
    text-align: center;
    padding-bottom: 60px;
    padding-top: 20px;}

#dishes .wrap .cont_part .arrow_space a{
    display: inline-block;
    height: 19px;}

#dishes .wrap .cont_part .arrow_space a img{display: block;}


                                    /* SERVICE PART */

#service{background-color: #ededed;}
#service .wrap{
    width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
    color: #555;}

#service .wrap .title_part{
    padding-top: 60px;
    padding-bottom: 80px;}

#service .wrap .title_part h2{
    font-size: 54px;
    line-height: 72px;
    padding-bottom: 20px;}

#service .wrap .title_part p{font-size: 16px; text-transform: uppercase;}

#service .wrap .content{font-size: 0;}

#service .wrap .content > div{
    display: inline-block;
    vertical-align: top;
    width: 360px;
    height: 360px;
    border-radius: 8px;
    background-color: #fee;
    margin: 0 10px;
    padding: 40px;
    font-size: 16px;
    transition: transform 1s;}

#service .wrap .content > div .img_part{
    padding-top: 40px;
    background-size: cover;
    background-position: 50% 50%;}

#service .wrap .content > div:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #ff9999;}


#service .wrap .content > div .txt_part{}

#service .wrap .content > div .txt_part .theService{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0;}

#service .wrap .content > div .txt_part .service_txt{font-size: 16px;}


#service .wrap .arrow_space{padding: 60px 0;}



                                /* SUBSCRIVE PART */

#offer{font-size: 0;}
#offer .bg_part{
    width: 100%;
    height: 460px;
    background-image: url(../img/6.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;}

#offer .bg_part .bg_dark{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);}

#offer .wrap{
    width: 1160px;
    height: 100%;
    padding: 0 10px;
    margin: 0 auto;
    display: table;}

#offer .wrap .content{text-align: center; display: table-cell; vertical-align: middle;}
#offer .wrap .content .title_part{
    color: #fff;}

#offer .wrap .content .title_part .title{
    padding: 20px 0;
    font-size: 54px;}

#offer .wrap .content .title_part .sub_title{
    padding-bottom: 20px;
    font-size: 16px;}

#offer .wrap .content .search{
    position: relative;
    width: 740px;
    margin: 0 auto;}

#offer .wrap .content .search input{
    width: 100%;
    height: 60px;
    border-radius: 8px;
    border-color: #f60;
    color: #777;
    font-size: 20px;
    padding: 0 20px;}

#offer .wrap .content .search button{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 60px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 20px;}

#offer .wrap .content .search button i{
    color: #f60;
    border-image-outset: 40px;
    font-size: 20px;}


    
                                        /* 맵 연동하기 */
#register{
    width: 100%;
    height: auto;
    background-color: #ededed;}
#register .wrap{
    width: 1160px;
    height: auto;
    padding: 0 10px;
    margin: 0 auto;
    font-size: 0;}

#register .wrap .left{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 400px;
    padding: 20px;}

#register .wrap .left #map_g{
    height: 100%; /*360px*/}

#register .wrap .right{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 400px;
    padding: 20px;}
    
#register .wrap .right .title{
    padding: 20px 0;
    text-align: center;}

#register .wrap .right .title h2{font-size: 54px; line-height: 72px; color: #555;}

#register .wrap .right .cont{}
#register .wrap .right .cont .input_line{padding-bottom: 8px;}

#register .wrap .right .cont .input_line input{
    width: 100%;
    height: 35px;
    padding: 0 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    outline-color: #f60;}

#register .wrap .right .cont input[type="checkbox"]{height: 12px;}
#register .wrap .right .cont span{font-size: 16px; color: #555;}

#register .wrap .right .cont .btn{text-align: right;}
#register .wrap .right .cont .btn input{
    width: 240px;
    height: 41px;
    font-size: 18px;
    color: #fff;
    background-color: #f60;
    border: none;
    border-radius: 8px;
    cursor: pointer;}

#register .wrap .right .cont .btn input:hover{background-color: #d40;}






/* #FOOTER PART */
#footer{
    width: 100%;
    height: auto;
    background-color: #000;
    text-align: center;}
#footer .wrap{
    width: 1160px;
    height: auto;
    margin: 0 auto;
    padding: 20px 10px;}

#footer .wrap .sns{}
#footer .wrap .sns ul{font-size: 0;}
#footer .wrap .sns ul li{
    display: inline-block;
    margin: 10px;}
#footer .wrap .sns ul li a{
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    line-height: 38px;
    border-radius: 50%;}
    
#footer .wrap .sns ul li:hover a{
    color: #f60;
    border: 1px solid #f60;}

#footer .wrap .f_logo{padding: 10px 0; font-size: 0;}
#footer .wrap .f_logo img{}

#footer .wrap p{
    font-size: 14px;
    padding: 14px 0;
    color: #fff;}



/* #top_Btn [상단으로 이동] 20220328 */
#top_Btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;}

#top_Btn a{
    display: block;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background-color: #f60;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);}





/* 구글맵 연동하기 [중간교육] - 20220328*/

/* #midEdu3 #map_g{
    width: 500px;
    height: 400px;
    background-color: #aaf;} */